@import "soon.styl"
@media screen and (min-width:767px)
	.slidr-home-demo
		div {
			line-height: 40px
			width: 100%
			height: 100%
			text-align: center
			font-size: 38px
			font-weight: 350
			letter-spacing: 0px
			color: white
		}
		
		width: 755px
		height: 250px
		margin: 0 auto
		margin-top: 20px
	
@media screen and (min-width:1023px)
	.slidr-home-demo
		div {
			line-height: 70px
			width: 100%
			height: 100%
			text-align: center
			font-size: 50px
			font-weight: 500
			letter-spacing: 0px
			color: white
		}
		width: 1020px
		height: 350px
		margin: 0 auto
		margin-top: 40px

@media screen and (min-width:1278px)
	.slidr-home-demo
		div {
			line-height: 50px
			width: 100%
			height: 100%
			text-align: center
			font-size: 50px
			font-weight: 500
			letter-spacing: 0px
			color: white
		}
		width: 1265px
		height: 300px
		margin: 0 auto
		margin-top: 10px


@media screen and (min-width:1430px)
	.slidr-home-demo
		div {
			line-height: 58px
			width: 100%
			height: 100%
			text-align: center
			font-size: 50px
			font-weight: 500
			letter-spacing: 0px
			color: white
		}
		width: 1420px
		height: 350px
		margin: 0 auto
		margin-top: 20px
		
@media screen and (min-width:1495px)
	.slidr-home-demo
		div {
			line-height: 45px
			width: 100%
			height: 100%
			text-align: center
			font-size: 45px
			font-weight: 450
			letter-spacing: 0px
			color: white
		}
		width: 1420px
		height: 270px
		margin: 0 auto
		margin-top: 10px

.demo-slides 
	div{
		width:100%
		
	}
		
.slideOne 
	background-image: -webkit-linear-gradient(45deg,#f31626,#ffab3a)
	-webkit-text-fill-color: white

.slideTwo 
	background-image: -webkit-linear-gradient(150deg,#2283E3,#58FFA0)
	-webkit-text-fill-color: white

.slideThree 
	background-image: -webkit-linear-gradient(222deg,#8099A7,#FF93DA)
	-webkit-text-fill-color: white

.slideFour 
	background-image: -webkit-linear-gradient(150deg,#FFDC00,#C8F6F7)
	-webkit-text-fill-color: #565656

.slideFive 
	background-image: -webkit-linear-gradient(110deg,#B20094,#AACDCA)
	-webkit-text-fill-color: white

.slideSix 
	background-image: -webkit-linear-gradient(33deg,#6DDABC,#FFFBB5)
	-webkit-text-fill-color: #565656


html 
	font-family: 'Quicksand', sans-serif
	color: #3d464d
	background-color: #F6F6F6
	-webkit-font-smoothing: antialiased
	width: 100%
	text-align: center
h2
	margin-top: 16px
