@import "soon.styl"

transition(param)
	-webkit-transition param
	-moz-transition param
	-o-transition param
	-ms-transition param
	transition param

background-linear-gradient(deg, startColor, endColor)
	background-color startColor
	background-image -webkit-linear-gradient(deg, startColor , endColor )
	background-image -moz-linear-gradient(deg, startColor , endColor )
	background-image -ms-linear-gradient(deg, startColor , endColor )
	background-image -o-linear-gradient(deg, startColor , endColor )
	background-image linear-gradient(deg, startColor , endColor )


.settings
	
	
	//overflow hidden
	&-title
		position absolute
		color: #CDCDCD
	&-menu
		position absolute
		top 30px
		left -200px
		width 200px
		&.is-active
			left 0
			transition(1s)
		
@media screen and (min-width:767px)
	.slidr-home-demo
		div {
			line-height: 40px
			width: 100%
			height: 100%
			text-align: center
			font-size: 38px
			font-weight: 350
			letter-spacing: 0px
			color: white
		}
		
		width: 755px
		height: 250px
		margin: 0 auto
		margin-top: 20px
	
@media screen and (min-width:1023px)
	.slidr-home-demo
		div {
			line-height: 70px
			width: 100%
			height: 100%
			text-align: center
			font-size: 50px
			font-weight: 500
			letter-spacing: 0px
			color: white
		}
		width: 950px
		height: 350px
		margin: 0 auto
		margin-top: 40px

@media screen and (min-width:1278px)
	.slidr-home-demo
		div {
			line-height: 50px
			width: 100%
			height: 100%
			text-align: center
			font-size: 50px
			font-weight: 500
			letter-spacing: 0px
			color: white
		}
		width: 1265px
		height: 300px
		margin: 0 auto
		margin-top: 10px


@media screen and (min-width:1430px)
	.slidr-home-demo
		div {
			line-height: 58px
			width: 100%
			height: 100%
			text-align: center
			font-size: 50px
			font-weight: 500
			letter-spacing: 0px
			color: white
		}
		width: 1350px
		height: 350px
		margin: 0 auto
		margin-top: 20px
		
@media screen and (min-width:1495px)
	.slidr-home-demo
		div {
			line-height: 45px
			width: 100%
			height: 100%
			text-align: center
			font-size: 45px
			font-weight: 450
			letter-spacing: 0px
			color: white
		}
		width: 1420px
		height: 270px
		margin: 0 auto
		margin-top: 10px

.demo-slides 
	div{
		width:100%
		
	}
		
.slideOne 
	background-linear-gradient(45deg,#f31626,#ffab3a)
	// background-image: -webkit-linear-gradient(45deg,#f31626,#ffab3a)
	color: white  !important

.slideTwo 
	background-linear-gradient(150deg,#2283E3,#58FFA0)
	// background-image: -webkit-linear-gradient(150deg,#2283E3,#58FFA0)
	color: white !important

.slideThree 
	background-linear-gradient(222deg,#8099A7,#FF93DA)
	// background-image: -webkit-linear-gradient(222deg,#8099A7,#FF93DA)
	color: white !important

.slideFour 
	background-linear-gradient(150deg,#FFDC00,#C8F6F7)
	// background-image: -webkit-linear-gradient(150deg,#FFDC00,#C8F6F7)
	color: #565656 !important

.slideFive 
	background-linear-gradient(110deg,#B20094,#AACDCA)
	// background-image: -webkit-linear-gradient(110deg,#B20094,#AACDCA)
	color: white !important

.slideSix 
	background-linear-gradient(33deg,#6DDABC,#FFFBB5)
	// background-image: -webkit-linear-gradient(33deg,#6DDABC,#FFFBB5)
	color: #565656 !important

#my-soon-counter .soon-reflection 
	opacity:.4
#my-soon-counter 
	background-color:#F6F6F6
#my-soon-counter .soon-reflection 
	background-color:#F6F6F6
	background-image:linear-gradient(#F6F6F6 15%,rgba(255,255,255,0))
#my-soon-counter 
	color:#777777
#my-soon-counter .soon-label 
	color:#C693B3


html 
	font-family: 'Quicksand', sans-serif
	color: #3d464d
	background-color: #F6F6F6
	-webkit-font-smoothing: antialiased
	width: 100%
	text-align: center
h2
	margin-top: 16px


		