




.slideOne 
	background-image: -webkit-linear-gradient(45deg,#f31626,#ffab3a)
	-webkit-text-fill-color: white

.slideTwo 
	background-image: -webkit-linear-gradient(150deg,#2283E3,#58FFA0)
	-webkit-text-fill-color: white

.slideThree 
	background-image: -webkit-linear-gradient(222deg,#8099A7,#FF93DA)
	-webkit-text-fill-color: white

.slideFour 
	background-image: -webkit-linear-gradient(150deg,#FFDC00,#C8F6F7)
	-webkit-text-fill-color: #565656

.slideFive 
	background-image: -webkit-linear-gradient(110deg,#B20094,#AACDCA)
	-webkit-text-fill-color: white

.slideSix 
	background-image: -webkit-linear-gradient(33deg,#6DDABC,#FFFBB5)
	-webkit-text-fill-color: #565656


html 
	font-family: 'Quicksand', sans-serif
	color: #3d464d
	background-color: #fff
	-webkit-font-smoothing: antialiased
	width: 100%
	text-align: center
h2
	margin-top: 16px
